@page
@model ThAmCo.Events.Pages.GuestBookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!-- Added this line to display the total count of guests using Copilot-->
<p>Total Guests: <strong>@Model.GuestCount</strong></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].IsAttending)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GuestBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAttending)
            </td>
            <td>
                <a asp-page="./Index">Back to List</a>
            </td>
        </tr>
}
    </tbody>
</table> 
